* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  background: transparent !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.checkmark {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #222222;
  border-radius: 25%;
  transition: background-color 0.2s ease;
  position: relative;
}

.checkmark.checked {
  background-color: #8B4513;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 33%;
  top: 18%;
  width: 22%;
  height: 44%;
  border: solid #ffffff;
  border-width: 0 10% 10% 0;
  transform: rotate(45deg);
}

.checkmark.checked:after {
  display: block;
}
